/*body {
    font-family: 'Amatic SC', cursive;
    background-color: #01284B;
    color: #E1E6FA;
}*/

.myTable{
text-align: center;
border: 2px solid white;
width: 600px;
border-collapse: collapse;
background-color: #3b3b3b;
border-collapse: separate; border-spacing: 10px;
empty-cells: hide;
margin: auto;
}



.center { text-align: center;}
body {
    font-family: 'Ubuntu Condensed', sans-serif;
    background-color: #01284B;
    color: #E1E6FA;
    vlink: #FFF;
}
header{
  width: 100%;
  background: #043F73;
  display: flex;
}
*{
  margin: 0;
  padding: 0;
}
/*Заголовок домашняя старница*/
.header{
  text-transform: uppercase;
  color: #FFF;
  font-weight: 800;
  font-size: 40px;
  cursor: pointer;
  margin-top: 25px;
  margin-left: 5%

}
a{
    text-decoration: none;
    white-space:nowrap;
    display: inline-block;

}
a:visited {
  color: #FFF;
}
a:hover{
  border-bottom: 3px solid #B23700;
}
nav{
  margin-top: 25px;
  position: absolute;
  right: 20;
}

.topnav a{
  white-space:nowrap;
  color: #FFF;
  text-align: center;
  padding: 5px 10px;
  font-size: 30px;
}
.topnav a:hover{
  border-bottom: 3px solid #B23700;
}
.topnav .icon{
  display: none;
}


main .welcomeMif{
  float: left;
  width: 20%;
  background: #01284B;
  text-align: left;
  padding: 30px 40px 400px 40px;
}

.welcomeMif a{
  color: #FFF;
  text-align: left;
  padding: 10px 10px;
  font-size: 30px;
}
.welcomeMif a:hover{
  border-bottom: 3px solid #B23700;
}
main .info{
  float: left;
}

main{
  display: flex;
  flex-direction: column;
  width: 100%;
}
main .welcome{
  background: #01284B;
  text-align: center;
  padding: 150px 20px 400px 20px;
}
main .welcomeAbout{
  background: #01284B;
  text-align: center;
  padding: 150px 20px 400px 20px;
}
main span{
  color: #B23700;
}
main p{
   font-size: 40px;
}
main h1{
   font-size: 60px;
}



/*Код прогресс бара----VVVVVVV----------------------------*/
.circle {
 background-color: rgba(0,0,0,0);
 border:5px solid rgba(0,183,229,0.9);
 opacity:.9;
 border-right:5px solid rgba(0,0,0,0);
 border-left:5px solid rgba(0,0,0,0);
 border-radius:50px;
 box-shadow: 0 0 35px #2187e7;
 width:50px;
 height:50px;
 margin:0 auto;
 -moz-animation:spinPulse 1s infinite ease-in-out;
 -webkit-animation:spinPulse 1s infinite linear;
}
.circle1 {
 background-color: rgba(0,0,0,0);
 border:5px solid rgba(0,183,229,0.9);
 opacity:.9;
 border-left:5px solid rgba(0,0,0,0);
 border-right:5px solid rgba(0,0,0,0);
 border-radius:50px;
 box-shadow: 0 0 15px #2187e7;
 width:30px;
 height:30px;
 margin:0 auto;
 position:relative;
 top:-50px;
 -moz-animation:spinoffPulse 1s infinite linear;
 -webkit-animation:spinoffPulse 1s infinite linear;
}
@-moz-keyframes spinPulse {
 0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7;}
 50% { -moz-transform:rotate(145deg); opacity:1; }
 100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
 0% { -moz-transform:rotate(0deg); }
 100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spinPulse {
 0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7; }
 50% { -webkit-transform:rotate(145deg); opacity:1;}
 100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
 0% { -webkit-transform:rotate(0deg); }
 100% { -webkit-transform:rotate(360deg); }
}
/*Код прогресс бара----^^^^^^^^^^----------------------------*/


.hidden {
    display:none;
}
.button {
    border: 1px solid #FFF;
    padding: 10px;
    margin:0 auto;
    background: #043f73;
    color: #fff;
    width: 150px;
    font-size: 25px;
    /*font-family: 'Amatic SC', cursive;*/
    font-family: 'Ubuntu Condensed', sans-serif;
}
.button:hover {
    background: #B23700;
    cursor: pointer;
}

