{% extends "base.html" %}
{% block content %}
        <div class="welcomeAbout">
          <h1>Добро пожаловать на сервис <span>Поиск абитуриентов</span></h1><br>
          <p>Сайт написан в целях ВКР.<br><br>
          Для поиска абитуриентов загрузите список id <br> пользователей ВКОНТАКТЕ в формате json<br>
          Ожидайте завершения работ <br>
           Для обновления загрузите файл на соответсвующей странице

              <br>
              <br>  Автор Захаров Алексей группа 1541б
          </p>
        </div>
{% endblock %}