<!doctype html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&amp;subset=cyrillic" rel="stylesheet">
        <title>Мифы</title>
    </head>

    <body>

      <header>
        <div class="header"><p>Мифические существа</p></div>
        <nav>
          <div class="topnav" id="myTopnav">
            <a href="#">Славянская мифология</a>
            <a href="#">Зарубежная мифология</a>
            <a href="#">О сайте</a>
            <a href="#" id="menu" class="icon">&#9776;</a>

          </div>
        </nav>
        <script type="text/javascript">
        menu.onclick = function myFunction() {
          var x = document.getElementById('myTopnav');
          if (x.className === "topnav") {
            x.className +=" responsive";
          } else {
            x.className = "topnav";
          }
        }
        </script>
      </header>
      <main>
        <div class="welcomeAbout">
          <h1>Добро пожаловать на сайт <span>Мифические существа</span></h1>
          <p>Сайт написан в целях лабораторных работ.<br>
          Автор Захаров Алексей группа 1541б<br>
          Здесь вы найдете много интересного по существам разных мифлогий<br><br>
          И не только...</p>
        </div>
      </main>

    </body>
</html>
