{% extends "base.html" %}
{% block content %}
        <div class="welcome">
          <h1 id="mass">{{massage}}</h1>
             <form enctype="multipart/form-data" action="/uploadfile0/" method="post">
                 <br>
                  <p>Загрузите файл: <input type="file" id="uploadFile" class="hidden" name="filename" /></p><br>
                 <div class="button" id="uploadTrigger">Обзор...</div>
                 <br>
                 <p><input onclick="changeLink()" type="submit" class="button" value="Запустить" /></p>
             </form>
            <br>
            <div id="circle" style='display:none;' class="circle"></div>
            <div id="circle1" style='display:none;' class="circle1"></div>
            <br>
            <div id="text" style='display:none; font-size: 32px'>Длительность выполнения зависит от количества проверяемых пользователей</div>
            <script>
                $("#uploadTrigger").click(function(){
                   $("#uploadFile").click();
                });
            </script>
            <img src="{{ url_for('static', filename='ink.png') }}" width="200" height="200">
        </div>
{% endblock %}


